@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

.luxury-title {
  font-family: 'Cormorant Garamond', serif;
}

.bubble-btn {
  width: 100px;
  height: 100px;

  border: 1px solid rgba(255,255,255,0.8);

  background: transparent;

  color: white;

  font-size: 10px;
  letter-spacing: 4px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  animation:
    morph 8s ease-in-out infinite,
    float 6s ease-in-out infinite;

  transition: 0.4s;
}

.bubble-btn:hover {
  background: rgba(255,255,255,0.08);
}

@keyframes morph {

  0%{
    border-radius:
      58% 42% 62% 38% /
      46% 58% 42% 54%;
  }

  25%{
    border-radius:
      40% 60% 52% 48% /
      60% 42% 58% 40%;
  }

  50%{
    border-radius:
      63% 37% 44% 56% /
      35% 65% 35% 65%;
  }

  75%{
    border-radius:
      45% 55% 38% 62% /
      58% 42% 60% 40%;
  }

  100%{
    border-radius:
      58% 42% 62% 38% /
      46% 58% 42% 54%;
  }
}

@keyframes float {

  0%,
  100%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(-10px);
  }
}